html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
 background-color: rgb(255, 255, 255);
 margin: 0;
 
 


}

header{
    
    background-color: rgb(255, 255, 255);
  
}


/*кнопка*/

.button__primary a {
    padding: 12px 35px;
    border-radius: 20px;
    color: #000000;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
   
}
.btn__light {
    background: #c8b4b4;
    border: #000000 2px;
}

.header_1{
    background: #312b2a;
    height: 100vh;
    width: 100%;
    color: #c8b4b4;;
    background-image: url(/assets/images/start-screen-gradient-background.png);
}
.header__1{
    display: flex;
}
.logo__title {
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}



p{
    font-size: 15px;
    font-weight: 200;
    margin: 0;
    color: #d3cdcdc6;
    font-family: Arial;
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding-left: 100px;
    top: 36px;
    text-align: center;
    width: 1020px;
    position: absolute;
    font-family: Arial;
}

nav a{
    color: #ffffff;
}


nav li{
    display: flex;
    height: inherit;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding-left: 50px;
    
}

.heading {
    width: 250px;
    font-size: large;
    color: white;
}

.subheading {
    width: 500px;
    
}

.start_screen-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button__primary{
    padding-left: 50px;

    
}

.start__screen-puppy{
    padding-top: 5%;
}






